# Carpeta de datos brutos
EEG_raw/
EEG_processed/
EEG_crop/
EEG_processed_bandas/

# Resultados generados automáticamente
results/
df_master/df_master.csv

# Entornos virtuales
venv/
.env/

# Archivos temporales de Python y Jupyter
__pycache__/
.ipynb_checkpoints/

# Archivos de sistema o de VS Code
.DS_Store
.vscode/

#Archivos 
*.edf
*.fif
*.mat
*.npy
*.csv
*.xlsx




